.breadcrumbs {
    display: flex;
    gap: 8px;
    color: color('gray', 500);
    margin-bottom: 16px;

    @include tablet() {
        padding: 0 12px;
        flex-wrap: wrap;
        @include body-12();
        color: color('gray', 500);
        gap: 6px;
    }

    .breadcrumbs-item::after {
        content: "/";
        color: color('gray', 600);
        margin-left: 8px;
    }

    .breadcrumbs-item:last-child {
        color: color('main', 400);

        &::after {
            content: "";
        }
    }
}