.card {
    &.catalog {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 24px;
        column-gap: 16px;

        @include min-desktop() {
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mobile() {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 16px;
            column-gap: 12px;
        }

        .element {
            .name {
                @include body-20-bold();
                text-align: center;
                margin-top: 8px;
                transition: $transition;
            }

            .image {
                img {
                    transition: $transition;
                }
            }

            &:hover {
                .name {
                    color: color('main', 400);
                }

                .image {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}
