.catalog {
    margin: 40px 0;

    .catalog__wrap {
        display: flex;
        gap: 32px;
    }

    .catalog__left {
        max-width: 350px;
        width: 100%;
        border: 1px solid color('gray', 700);
        box-shadow: rgba(0, 0, 0, 0.07) 0 7px 10px;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .catalog__right {
        width: 100%;
        height: 100%;
        border: 1px solid color('gray', 700);
        box-shadow: rgba(0, 0, 0, 0.07) 0 7px 10px;
        border-radius: 8px;
        padding: 16px;
    }

    .catalog__breadcrumbs {
        display: flex;
        gap: 8px;
        color: color('gray', 500);
        margin-bottom: 16px;

        .catalog__breadcrumbs-item::after {
            content: "/";
            color: color('gray', 600);
            margin-left: 8px;
        }

        .catalog__breadcrumbs-item:last-child {
            color: color('main', 400);

            &::after {
                content: "";
            }
        }
    }

    .catalog__right-top {
        border-bottom: 1px solid color('gray', 700);
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            gap: 10px;
            align-items: center;

            .catalog__right-items-count {
                color: color('gray', 500);
            }
        }

        .custom-select-wrap {
            min-width: 210px;
        }
    }

    .filter__wrap {
        border-bottom: 1px solid color('gray', 700);

        .filter-title {
            @include body-16-bold();
            margin-bottom: 12px;
        }

        .subcategories__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-left: 8px;
            padding-bottom: 12px;
        }

        .filter-inputs {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-bottom: 12px;
        }

        .show-more-button {
            padding-bottom: 12px;
            color: color('main', 400);
        }
    }

    .catalog__items {
        margin-top: 24px;
        display: grid;
        row-gap: 32px;
        column-gap: 16px;
        grid-template-columns: repeat(4, 1fr);
    }

    .catalog-selected-chip {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 12px;

        .chip, .clear-all-chips {
            @include body-14();
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 16px 8px 16px;
            background-color: color('main', 400);
            border-radius: 16px;
            color: color('white', 400);

            svg {
                margin-right: -8px;
                cursor: pointer;

                &:hover {
                    path {
                        fill: color('gray', 700);

                    }
                }
            }
        }

        .clear-all-chips {
            background-color: color('gray', 700);
            color: color('black', 400);
            border: 1px solid color('gray', 600);
        }
    }
}
