.catalog {
    margin: 40px 0;

    @include mobile() {
        margin: 16px 0;
    }

    .catalog-name {
        @include body-28-bold();
    }

    .catalog__wrap {
        display: flex;
        gap: 32px;
        position: relative;
        border-radius: 8px;

        @include tablet() {
            overflow: hidden;
        }

        &.loader::after {
            content: "";
            position: absolute;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
            animation: subtle-wave 0.8s linear infinite;
            pointer-events: all;
            z-index: 10;
            border-radius: 8px;
        }
    }

    .catalog__left {
        max-width: 350px;
        width: 100%;
        border: 1px solid color('gray', 700);
        box-shadow: rgba(0, 0, 0, 0.07) 0 7px 10px, rgba(0, 0, 0, 0.07) 0 -7px 10px;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: max-content;
        transition: $transition;

        @include min-desktop() {
            max-width: 260px;
        }

        @include tablet() {
            position: absolute;
            top: 50px;
            z-index: 5;
            background: color('white', 400);
            left: -1000px;
            max-width: 100%;
            width: 100%;
            max-height: calc(100vh - 203px);
            overflow: scroll;

            &.active-mobile {
                left: 0;
                box-shadow: none;
            }
        }

        @include mobile() {
            top: 87px;
        }
    }

    .catalog__right {
        width: 100%;
        height: 100%;
        border: 1px solid color('gray', 700);
        box-shadow: rgba(0, 0, 0, 0.07) 0 7px 10px, rgba(0, 0, 0, 0.07) 0 -7px 10px;
        border-radius: 8px;
        padding: 16px;
        min-height: 100vh;

        @include tablet() {
            padding: 0;
            border: none;
            box-shadow: none;
        }

        .catalog__sort {
            @include mobile() {
                width: 100%;
            }
        }
    }

    .catalog__right-top {
        border-bottom: 1px solid color('gray', 700);
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile() {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
        }

        .title {
            display: flex;
            gap: 10px;
            align-items: center;

            .catalog__right-items-count {
                color: color('gray', 500);
            }
        }

        .custom-select-wrap {
            min-width: 210px;

            @include mobile() {
                max-width: 100%;
            }
        }

        .mobile-filters {
            display: none;

            @include tablet() {
                display: flex;
            }
        }
    }

    .filter__wrap {
        border-bottom: 1px solid color('gray', 700);

        &:last-child {
            border-bottom: none;
        }

        .filter-title {
            @include body-16-bold();
            margin-bottom: 12px;
        }

        .subcategories__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-left: 8px;
            padding-bottom: 12px;
        }

        .filter-checkbox {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-bottom: 12px;
        }

        .filter-inputs {
            display: flex;
            gap: 8px;
            padding-bottom: 12px;
        }

        .show-more-button {
            padding-bottom: 12px;
            color: color('main', 400);
        }
    }

    .catalog__items {
        margin-top: 24px;
        display: grid;
        row-gap: 32px;
        column-gap: 16px;
        grid-template-columns: repeat(3, 1fr);

        @include min-desktop() {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mobile() {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .catalog-selected-chip {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 12px;

        .chip, .clear-all-chips {
            @include body-14();
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 16px 8px 16px;
            background-color: color('main', 400);
            border-radius: 16px;
            color: color('white', 400);

            svg {
                margin-right: -8px;
                cursor: pointer;

                &:hover {
                    path {
                        fill: color('gray', 700);

                    }
                }
            }
        }

        .clear-all-chips {
            background-color: color('gray', 700);
            color: color('black', 400);
            border: 1px solid color('gray', 600);
        }
    }
}

.breadcrumbs {
    display: flex;
    gap: 8px;
    color: color('gray', 500);
    margin-bottom: 16px;

    .breadcrumbs-item::after {
        content: "/";
        color: color('gray', 600);
        margin-left: 8px;
    }

    .breadcrumbs-item:last-child {
        color: color('main', 400);

        &::after {
            content: "";
        }
    }
}
