{% extends 'template/front/base.html.twig' %}

{% block body %}
    <section class="catalog">
        <div class="container">
            {% include 'template/front/components/breadcrumbs.html.twig' with {
                breadcrumbs: breadcrumbs,
            } %}
            <div class="catalog-wrap">
                <h1>Каталог брендов</h1>

                {% include 'template/front/components/catalog-card.html.twig' with {
                    elements: brands,
                } %}
            </div>
        </div>
    </section>
    {% include 'template/front/section/scramble-items.html.twig' with {
        title: 'Популярные товары',
        items: popularItems
    } %}
{% endblock %}
