{% if items is not empty %}
    <section class="default-section scramble-items">
        <div class="container">
            <div class="wrap">
                <p class="title">{{ title ?? '' }}</p>

                <div class="items">
                    {% include 'template/front/components/item-card.html.twig' with {
                        items: items
                    } %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
