.catalog {
    .catalog__wrap {
        display: flex;
        gap: 32px;
    }

    .catalog__left {
        max-width: 350px;
        width: 100%;
    }

    .catalog__right {
        width: 100%;
    }
}