@font-face {
    font-family: 'Hauss';
    src: local('als-hauss-vf'),
    local('als-hauss-vf'),
    url('/assets/fonts/hauss/als-hauss-vf.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
