.input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid color('gray', 600);
    border-radius: 8px;
    width: 100%;
    transition: border 0.2s ease;

    &::placeholder {
        color: color('gray', 600);
        opacity: 1;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;

    &.required::after {
        content: '*';
        color: color('red', 400);
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &.required .input-text {
        padding-right: 24px;
    }
}
