{% extends 'template/front/base.html.twig' %}

{% block body %}
    <section class="catalog">
        <div class="container">
            {% include 'template/front/components/breadcrumbs.html.twig' with {
                breadcrumbs: breadcrumbs,
            } %}

            <div class="catalog__wrap">
                <div class="catalog__left">
                    {% include 'template/front/components/filters.html.twig' %}
                </div>

                <div class="catalog__right">
                    <div class="catalog__right-top">
                        <div class="title">
                            <h1 class="catalog-name">
                                {{ category.name }}
                            </h1>
                            <span class="catalog__right-items-count"> {{ itemsCount }} </span>
                        </div>

                        <button type="button" class="mobile-filters btn"> Фильтры </button>

                        <div class="catalog__sort">
                            {% include 'template/common/input/_select.html.twig' with {
                                id: 'sort-select',
                                name: 'sort',
                                options: {
                                    'popular': 'По популярности',
                                    'cheap': 'По возрастанию цены',
                                    'expensive': 'По убыванию цены',
                                },
                                selected: 'popular'
                            } %}
                        </div>
                    </div>

                    <div class="catalog__right-chips">
                        {% include 'template/front/components/chips.html.twig' %}
                    </div>

                    <div class="catalog__items">
                        {% include 'template/front/components/item-card.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}