{% extends 'template/front/base.html.twig' %}

{% block body %}
    <section class="catalog">
        <div class="container">
            {% include 'template/front/components/breadcrumbs.html.twig' with {
                breadcrumbs: breadcrumbs,
            } %}
            <div class="catalog-wrap">
                <h1>Каталог</h1>

                {% include 'template/front/components/category-card.html.twig' with {
                    categories: categories,
                } %}
            </div>
        </div>
    </section>
{% endblock %}
