.catalog {
    margin: 16px 0;

    @include tablet() {
        .container {
            padding: 0;
        }
    }

    .catalog-wrap {
        border: 1px solid rgb(238, 238, 238);
        box-shadow: rgba(0, 0, 0, 0.07) 0 7px 10px, rgba(0, 0, 0, 0.07) 0 -7px 10px;
        border-radius: 8px;
    }

    .catalog-wrap {
        padding: 16px;

        @include tablet() {
            padding: 12px;
        }

        h1 {
            @include body-28-bold();
            text-align: center;
            margin-bottom: 24px;
        }
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 24px;
        column-gap: 16px;

        @include min-desktop() {
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mobile() {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 16px;
            column-gap: 12px;
        }

        .category {
            .category-name {
                @include body-20-bold();
                text-align: center;
                margin-top: 8px;
                transition: $transition;
            }

            .category-image {
                img {
                    transition: $transition;
                }
            }

            &:hover {
                .category-name {
                    color: color('main', 400);
                }

                .category-image {
                    img {
                        transform: scale(1.05);
                        transition: transform 0.3s ease;
                    }
                }
            }
        }
    }
}
