.catalog {
    margin: 16px 0;

    @include tablet() {
        .container {
            padding: 0;
        }
    }

    .catalog-wrap {
        border: 1px solid color('gray', 700);
        box-shadow: rgba(0, 0, 0, 0.07) 0 7px 10px, rgba(0, 0, 0, 0.07) 0 -7px 10px;
        border-radius: 8px;
    }

    .catalog-wrap {
        padding: 16px;

        @include tablet() {
            padding: 12px;
        }

        h1 {
            @include body-28-bold();
            text-align: center;
            margin-bottom: 24px;
        }
    }
}
