<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Vesnushka</title>

    {% block stylesheets %}
        {{ vite_entry_link_tags('style') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('js') }}
    {% endblock %}
</head>
<body>

{% include 'template/front/components/header.html.twig' %}

<main class="main">
    {% block body %}{% endblock %}
</main>

{% include 'template/front/components/footer.html.twig' %}

</body>
</html>
