{% import "template/front/components/picture.html.twig" as picture %}

{% for item in items %}
    <div class="item-card-wrap">
        <a class="item-link" href="{{ item.url }}">
            <div class="card-image">
                {{ picture.render(item.main_image_path, 300, 300, true, item.name) }}
            </div>
            <div class="item-price">
                {{ item.price }} р.
            </div>
            <div class="item-stock">
                {% if item.stock > 0 %}
                    Наличие: Есть в наличии
                {% else %}
                    Наличие: Под заказ
                {% endif %}
            </div>
            <div class="item-name">
                {{ item.name }}
            </div>
        </a>

        {% if item.stock > 0 %}
            <button class="item-card-btn btn" type="button">
                {% include 'template/icon/cart.html.twig' %}
                В корзину
            </button>
        {% else %}
            <button class="item-card-not-stock btn" type="button">
                Под заказ
            </button>
        {% endif %}
    </div>
{% endfor %}
