<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Admin panel - Vesnushka</title>

    {% block stylesheets %}
        {{ vite_entry_link_tags('adminStyle') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('adminJs') }}
    {% endblock %}
</head>
<body>
<header>
    <!-- Admin header -->
</header>

<main class="main">
    {% block body %}{% endblock %}
</main>

<footer>
    {% include 'template/common/notification.html.twig' %}
</footer>

</body>
</html>
