//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------
body {
  @include body-18();
  position: relative;
  background-color: color('gray', 400);
  height: 100%;
}

main {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 1500px;
  width: 100%;

  @include tablet() {
    padding-right: 20px;
    padding-left: 20px;
  }
}
