$colors: (
        'main': (
                400: #059669,
        ),
        'white': (
                400: #ffffff,
                500: #f6f6f9,
        ),
        'black': (
                400: #1E1E1E,
        ),
        'gray': (
                400: #ffffff00,
                500: #868695,
                600: #c8c8d1,
                700: rgb(238, 238, 238),
        ),
        'green': (
                400: #059669,
        ),
        'red': (
                400: #e32c2c
        ),
);

@function color($color, $shade) {
    @return map-get(map-get($colors, $color), $shade);
}

$transition: all .2s ease-in-out;
$mainGradient: linear-gradient(90deg, #059669, #34d399);
